In [290]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/property-sales-data-real-estate-trends/2007-property-sales-data.csv
/kaggle/input/property-sales-data-real-estate-trends/2002-property-sales-data.csv
/kaggle/input/property-sales-data-real-estate-trends/2022-property-sales-data.csv
/kaggle/input/property-sales-data-real-estate-trends/2020-property-sales-data.csv
/kaggle/input/property-sales-data-real-estate-trends/2018-property-sales-data.csv
/kaggle/input/property-sales-data-real-estate-trends/armslengthsales_2022_valid_20230404.csv
/kaggle/input/property-sales-data-real-estate-trends/2005-property-sales-data.csv
/kaggle/input/property-sales-data-real-estate-trends/2003-property-sales-data.csv
/kaggle/input/property-sales-data-real-estate-trends/2008-property-sales-data.csv
/kaggle/input/property-sales-data-real-estate-trends/2002-2018-property-sales-data.feather
/kaggle/input/property-sales-data-real-estate-trends/2010-property-sales-data.csv
/kaggle/input/property-sales-data-real-estate-trends/2014-property-sales-data.csv
/kaggle/input/property-sales-data-real-estate-trends/armslengthsales_2020_valid.csv
/kaggle/input/property-sales-data-real-estate-trends/2019-property-sales-data.csv
/kaggle/input/property-sales-data-real-estate-trends/2017-property-sales-data.csv
/kaggle/input/property-sales-data-real-estate-trends/2013-property-sales-data.csv
/kaggle/input/property-sales-data-real-estate-trends/2009-property-sales-data.csv
/kaggle/input/property-sales-data-real-estate-trends/2021-property-sales-data.csv
/kaggle/input/property-sales-data-real-estate-trends/armslengthsales_2021_valid.csv
/kaggle/input/property-sales-data-real-estate-trends/2016-property-sales-data.csv
/kaggle/input/property-sales-data-real-estate-trends/metadata.csv
/kaggle/input/property-sales-data-real-estate-trends/2011-property-sales-data.csv
/kaggle/input/property-sales-data-real-estate-trends/2006-property-sales-data.csv
/kaggle/input/property-sales-data-real-estate-trends/2012-property-sales-data.csv
/kaggle/input/property-sales-data-real-estate-trends/2015-property-sales-data.csv
/kaggle/input/property-sales-data-real-estate-trends/2002-2018-property-sales-data.csv
/kaggle/input/property-sales-data-real-estate-trends/2004-property-sales-data.csv

In [291]:
df = pd.read_csv('/kaggle/input/property-sales-data-real-estate-trends/2022-property-sales-data.csv')
df.head()

,PropertyID,PropType,taxkey,Address,CondoProject,District,nbhd,Style,Extwall,Stories,Year_Built,Rooms,FinishedSqft,Units,Bdrms,Fbath,Hbath,Lotsize,Sale_date,Sale_price
0,98461,Manufacturing,30131000,9434-9446 N 107TH ST,NaN,9,6300,Service Building,Concrete Block,1.0,1978.0,NaN,20600.0,6,NaN,0,0,0,2022-04-01,950000.0
1,98464,Commercial,30152000,9306-9316 N 107TH ST,NaN,9,6202,Office Building - 1 Story,Brick,1.0,1982.0,NaN,9688.0,23,NaN,0,0,35719,2022-10-07,385000.0
2,98508,Residential,49980110,9327 N SWAN RD,NaN,9,40,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0,0,1341648,2022-01-07,800000.0
3,98519,Residential,49993200,9411 W COUNTY LINE RD,NaN,9,40,Ranch,Aluminum/Vinyl,1.0,1959.0,6.0,1334.0,1,3.0,1,1,83200,2022-08-09,280000.0
4,98561,Residential,50042000,9322 N JOYCE AV,NaN,9,40,Ranch,Aluminum/Vinyl,1.0,1980.0,10.0,1006.0,1,6.0,1,0,8303,2022-05-23,233100.0

In [292]:
import pandas as pd
import os

# Define the directory containing the datasets
data_dir = '/kaggle/input/property-sales-data-real-estate-trends/'

# List of files you want to load and combine
files = [
    '2002-property-sales-data.csv',
    '2003-property-sales-data.csv',
    '2004-property-sales-data.csv',
    '2005-property-sales-data.csv',
    '2006-property-sales-data.csv',
    '2007-property-sales-data.csv',
    '2008-property-sales-data.csv',
    '2009-property-sales-data.csv',
    '2010-property-sales-data.csv',
    '2011-property-sales-data.csv',
    '2012-property-sales-data.csv',
    '2013-property-sales-data.csv',
    '2014-property-sales-data.csv',
    '2015-property-sales-data.csv',
    '2016-property-sales-data.csv',
    '2017-property-sales-data.csv',
    '2018-property-sales-data.csv',
    '2019-property-sales-data.csv',
    '2020-property-sales-data.csv',
    '2021-property-sales-data.csv',
    '2022-property-sales-data.csv'
]

# Initialize an empty list to store dataframes
df_list = []

# Loop through the files and process each one
for file in files:
    # Read the CSV file
    file_path = os.path.join(data_dir, file)
    df = pd.read_csv(file_path)
    
    # Extract the year from the filename (e.g., '2002' from '2002-property-sales-data.csv')
    year = file.split('-')[0]
    
    # Add a Year column
    df['Year'] = int(year)
    
    # Append the dataframe to the list
    df_list.append(df)

# Concatenate all the dataframes into a single dataframe
combined_df = pd.concat(df_list, ignore_index=True)

# Display the first few rows of the combined dataframe
combined_df.head()

,PropType,Taxkey,Address,CondoProject,District,Nbhd,Style,Extwall,Stories,Year_Built,...,Hbath,Lotsize,Sale_date,Sale_price,Year,PropertyID,taxkey,nbhd,Rooms,FinishedSqft
0,Commercial,3.230461e+09,2628 N 6TH ST,NaN,6.0,6258.0,Commercial Exempt,NaN,2.0,1880.0,...,0.0,12750,2002-01,15900,2002,NaN,NaN,NaN,NaN,NaN
1,Commercial,3.590192e+09,1363 N PROSPECT AV,NaN,3.0,6262.0,Mansions With Commercial Usage,NaN,2.0,1876.0,...,0.0,11840,2002-01,850000,2002,NaN,NaN,NaN,NaN,NaN
2,Commercial,4.161194e+09,617 S 94TH ST,NaN,10.0,6272.0,Service Building,NaN,1.0,1954.0,...,0.0,9700,2002-01,119000,2002,NaN,NaN,NaN,NaN,NaN
3,Commercial,1.719836e+09,3624 W SILVER SPRING DR,NaN,1.0,6218.0,"Store Bldg - Multi Story (Store & Apt, Store & O",NaN,2.0,1955.0,...,0.0,8792,2002-01,210000,2002,NaN,NaN,NaN,NaN,NaN
4,Commercial,3.480290e+09,3830 W LISBON AV,NaN,15.0,6254.0,"Store Bldg - Multi Story (Store & Apt, Store & O",NaN,2.0,1909.0,...,0.0,4840,2002-01,48500,2002,NaN,NaN,NaN,NaN,NaN

In [293]:
combined_df.isnull().sum()

PropType           13
Taxkey          26220
Address             6
CondoProject    50824
District            4
Nbhd            26220
Style              76
Extwall         13549
Stories           131
Year_Built         44
Nr_of_rms       26220
Fin_sqft        26220
Units               2
Bdrms            1272
Fbath             657
Hbath            4842
Lotsize             3
Sale_date           2
Sale_price         12
Year                0
PropertyID      34708
taxkey          34708
nbhd            34765
Rooms           35979
FinishedSqft    34783
dtype: int64

In [294]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60926 entries, 0 to 60925
Data columns (total 25 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PropType      60913 non-null  object
 1   Taxkey        34706 non-null  float64
 2   Address       60920 non-null  object
 3   CondoProject  10102 non-null  object
 4   District      60922 non-null  float64
 5   Nbhd          34706 non-null  float64
 6   Style         60850 non-null  object
 7   Extwall       47377 non-null  object
 8   Stories       60795 non-null  float64
 9   Year_Built    60882 non-null  float64
 10  Nr_of_rms     34706 non-null  float64
 11  Fin_sqft      34706 non-null  float64
 12  Units         60924 non-null  float64
 13  Bdrms         59654 non-null  float64
 14  Fbath         60269 non-null  float64
 15  Hbath         56084 non-null  float64
 16  Lotsize       60923 non-null  object
 17  Sale_date     60924 non-null  object
 18  Sale_price    60914 non-null  object
 19  Year          60926 non-null  int64
 20  PropertyID    26218 non-null  float64
 21  taxkey        26218 non-null  float64
 22  nbhd          26161 non-null  float64
 23  Rooms         24947 non-null  float64
 24  FinishedSqft  26143 non-null  object
dtypes: float64(15), int64(1), object(9)
memory usage: 11.6+ MB

In [295]:
combined_df['taxkey'].isna().sum()

34708

In [296]:
combined_df['nbhd'].isna().sum()

34765

In [297]:
combined_df['Rooms'].isna().sum()

35979

### ***Handling Missing Values***

In [298]:
df = combined_df.drop(columns=['taxkey', 'nbhd', 'Rooms', 'FinishedSqft','CondoProject', 'Taxkey','Nbhd','Extwall','Nr_of_rms','Fin_sqft','PropertyID'])

In [299]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60926 entries, 0 to 60925
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   PropType    60913 non-null  object
 1   Address     60920 non-null  object
 2   District    60922 non-null  float64
 3   Style       60850 non-null  object
 4   Stories     60795 non-null  float64
 5   Year_Built  60882 non-null  float64
 6   Units       60924 non-null  float64
 7   Bdrms       59654 non-null  float64
 8   Fbath       60269 non-null  float64
 9   Hbath       56084 non-null  float64
 10  Lotsize     60923 non-null  object
 11  Sale_date   60924 non-null  object
 12  Sale_price  60914 non-null  object
 13  Year        60926 non-null  int64
dtypes: float64(7), int64(1), object(6)
memory usage: 6.5+ MB

In [300]:
df.isnull().sum()

PropType        13
Address          6
District         4
Style           76
Stories        131
Year_Built      44
Units            2
Bdrms         1272
Fbath          657
Hbath         4842
Lotsize          3
Sale_date        2
Sale_price      12
Year             0
dtype: int64

In [301]:
df['Sale_price'].isna().sum()

12

In [302]:
# Separate numerical columns
numerical_cols = df.select_dtypes(include=['float64', 'int64']).columns

# Separate categorical columns
categorical_cols = df.select_dtypes(include=['object']).columns

# Display the lists of columns
print("Numerical columns:", numerical_cols)
print("Categorical columns:", categorical_cols)

Numerical columns: Index(['District', 'Stories', 'Year_Built', 'Units', 'Bdrms', 'Fbath', 'Hbath',
       'Year'],
      dtype='object')
Categorical columns: Index(['PropType', 'Address', 'Style', 'Lotsize', 'Sale_date', 'Sale_price'], dtype='object')

In [303]:
df[numerical_cols].isna().sum()

District         4
Stories        131
Year_Built      44
Units            2
Bdrms         1272
Fbath          657
Hbath         4842
Year             0
dtype: int64

In [304]:
df['Bdrms'] = df['Bdrms'].fillna(df['Bdrms'].median())
df['Fbath'] = df['Fbath'].fillna(df['Fbath'].median())
df['Hbath'] = df['Hbath'].fillna(df['Hbath'].median())
df['Stories'] = df['Stories'].fillna(df['Stories'].median())
df['Year_Built'] = df['Year_Built'].fillna(df['Year_Built'].median())

In [305]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60926 entries, 0 to 60925
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   PropType    60913 non-null  object
 1   Address     60920 non-null  object
 2   District    60922 non-null  float64
 3   Style       60850 non-null  object
 4   Stories     60926 non-null  float64
 5   Year_Built  60926 non-null  float64
 6   Units       60924 non-null  float64
 7   Bdrms       60926 non-null  float64
 8   Fbath       60926 non-null  float64
 9   Hbath       60926 non-null  float64
 10  Lotsize     60923 non-null  object
 11  Sale_date   60924 non-null  object
 12  Sale_price  60914 non-null  object
 13  Year        60926 non-null  int64
dtypes: float64(7), int64(1), object(6)
memory usage: 6.5+ MB

In [306]:
df.columns

Index(['PropType', 'Address', 'District', 'Style', 'Stories', 'Year_Built',
       'Units', 'Bdrms', 'Fbath', 'Hbath', 'Lotsize', 'Sale_date',
       'Sale_price', 'Year'],
      dtype='object')

In [307]:
df['Style'].unique()

array(['Commercial Exempt', 'Mansions With Commercial Usage',
       'Service Building',
       'Store Bldg - Multi Story (Store & Apt, Store & O',
       'Strip Shopping Center', 'Svs Station w Conv Store', 'Tavern',
       'AP 1', 'Billboard', 'Day Care Center', 'Duplex Old/Style',
       'Office Building - Multi Story ( Ofc & Apt)', 'Pole Building',
       'Residence With Commercial Usage', 'Used Car Sale',
       'Warehouse Building - 1 Story', 'Apartment: 48: 1-Br  Units',
       'Beer Depot & Liquor Store',
       'Store Building - Single tenant, 1 story', 'Commercial Land',
       'Fast Food Operation', 'Multi Story Warehouse',
       'Sit Down Restaurant', 'Triplex', 'Rm or Rooming House',
       'Apartment: 32: 2-Br  Units', 'Laundry Pick-up Station',
       'Auto & Auto Body Repair', 'Custard Stand, Drive-In',
       'Muffler Shop', 'Salvage Yard', 'Super Market',
       'Office Building - 1 Story', 'Office Building - Class A',
       'Svc Station w Conv and Carwash',
       'Apartment: 37: 1-Br ,1: 2-Br  Units', 'Bank, Savings & Loan',
       'Medical Clinic', 'Pharmacy', 'Tire Dealer', 'Mansion',
       'Duplex O/S', 'Church', 'Cottage',
       'Store Building - Multiple Tenants', 'Parking Lot', 'Laundromat',
       'Rooming House - 8 or more units',
       'Apartment: 33: 1-Br ,6: 2-Br  Units', 'Office Building - Class C',
       'Trucking Terminal', 'Auto Rental Agency',
       'Car Dealer, Truck Dealer', 'Office Building - Class B',
       'Cape Cod', 'APARTMENT', 'Apartment: 40: 3-Br  Units',
       'Apartment: 10: 1-Br ,20: 1-Br  Units',
       'Apartment: 20: 2-Br ,2: 3-Br  Units', 'Apartment: 1: 2-Br  Units',
       'Nursing Home', 'HI-RISE', 'Apartment: 51: 1-Br  Units',
       'Apartment: 60: 2-Br  Units',
       'Apartment: 18: 1-Br ,7: 2-Br  Units', 'Car Wash', 'Ranch',
       'Apartment: 26: 1-Br ,10: 2-Br  Units',
       'Apartment: 48: 1-Br ,39: 2-Br  Units',
       'Apartment: 26: 2-Br  Units',
       'Apartment: 26: 2-Br ,4: 3-Br ,6: 3-Br  Units',
       'Apartment: 30: 2-Br ,6: 3-Br  Units',
       'Apartment: 18: 1-Br ,20: 2-Br ,8: 3-Br  Units',
       'Apartment:  Units', 'Office Warehouse Park - multi tenants',
       'Apartment: 81: 1-Br  Units',
       'Apartment: 12: 1-Br ,24: 2-Br  Units', 'Funeral Home',
       'Lumber Yards', 'Apartment: 24: 2-Br ,3: 3-Br  Units',
       'Apartment: 8: 1-Br ,9: 2-Br ,6: 3-Br ,1: 3-Br  U',
       'Apartment: 10: 1-Br ,8: 2-Br ,3: 3-Br  Units', 'Quick Oil Change',
       'Apartment: 1: 1-Br ,24: 2-Br ,5: 2-Br  Units',
       'Apartment: 15: 2-Br ,21: 3-Br  Units', 'Mini Warehouse',
       'Apartment: 36: 1-Br ,6: 2-Br  Units', 'Neighborhood Center',
       'Apartment: 12: 2-Br ,12: 3-Br  Units',
       'Apartment: 12: 1-Br  Units',
       'Apartment: 48: 1-Br ,24: 2-Br  Units',
       'Apartment: 18: 1-Br ,6: 1-Br ,12: 2-Br  Units',
       'Parking Garage, Parking Ramp', 'Apartment: 24: 1-Br  Units',
       'Theater', 'Apartment: 5: 1-Br ,17: 2-Br ,2: 3-Br  Units',
       'Apartment: 7: 1-Br  Units',
       'Apartment: 21: 1-Br ,3: 1-Br ,15: 2-Br ,6: 2-Br ',
       'Apartment: 88: 1-Br ,6: 2-Br  Units',
       'Apartment: 24: 2-Br  Units', 'Apartment: 1: 1-Br  Units',
       'Apartment: 8: 1-Br ,12: 1-Br ,10: 2-Br ,2: 3-Br ',
       'Apartment: 10: 1-Br ,11: 2-Br  Units',
       'Apartment: 18: 1-Br ,12: 2-Br  Units',
       'Apartment: 26: 1-Br ,6: 2-Br  Units', 'Motel', '**',
       'Apartment: 10: 1-Br  Units', 'Apartment: 6: 1-Br  Units',
       'Licensed Res Care Facility,  Halfway House, etc.',
       'Post Office, Social Security Building',
       'Apartment: 148: 1-Br ,1: 2-Br  Units', 'MIXED STYLES',
       'Apartment: 30: 1-Br  Units',
       'Apartment: 33: 1-Br ,3: 2-Br  Units',
       'Apartment: 45: 1-Br ,3: 2-Br  Units',
       'Single Tenant Multi Story Retail', 'Duplex - Cottage',
       'Not Listed (Exm or Mfg)', 'Office Building - Class D',
       'Apartment: 12: 2-Br ,6: 2-Br ,6: 2-Br  Units',
       'Apartment: 4: 1-Br ,1: 2-Br ,10: 1-Br ,12: 1-Br ',
       'Apartment: 50: 2-Br ,22: 3-Br  Units',
       'Apartment: 56: 1-Br ,42: 1-Br ,24: 1-Br ,40: 2-B',
       'Apartment: 61: 1-Br ,12: 2-Br ,1: 3-Br  Units',
       'Svc Station w Conv, Retail, Restaurant and Carwa',
       'Apartment: 79: 1-Br ,40: 1-Br ,43: 2-Br  Units',
       'Residence Old/Style', 'Apartment: 2: 1-Br ,23: 2-Br  Units',
       'Hotel Extended Stay', 'Apartment: 9: 3-Br ,31: 3-Br  Units',
       'Apartment: 30: 1-Br ,15: 2-Br  Units',
       'Apartment: 7: 2-Br ,17: 3-Br  Units', 'Bulk Storage',
       'Sport, Health & Recreational Properties', 'Colonial',
       'Apartment: 23: 1-Br ,6: 2-Br  Units', 'School',
       'Apartment: 17: 1-Br ,1: 1-Br ,31: 2-Br ,6: 3-Br ',
       'Apartment: 8: 2-Br  Units', 'Apartment: 25: 1-Br ,5: 2-Br  Units',
       'Apartment: 33: 1-Br ,15: 2-Br  Units',
       'Apartment: 7: 1-Br ,10: 2-Br  Units',
       'Apartment: 2: 1-Br ,3: 1-Br ,6: 2-Br ,18: 2-Br ,',
       'Apartment: 28: 1-Br ,2: 2-Br  Units',
       'Apartment: 50: 1-Br ,20: 2-Br ,40: 2-Br ,20: 1-B',
       'Special - to use this code see supv.',
       'Apartment: 32: 1-Br  Units',
       'Apartment: 8: 1-Br ,24: 2-Br  Units',
       'Apartment: 13: 2-Br ,57: 2-Br ,2: 3-Br  Units',
       'Apartment: 13: 1-Br  Units', 'Apartment: 40: 2-Br  Units',
       'AP1 (Conventional Apt with 4-6 Units)', 'Duplex N/S',
       'Residence O/S', 'Milwaukee Bungalow', 'Dplx Bungalow', 'TRIPLEX',
       'TOWN HOUSE', 'Townhouse', 'Tudor', 'TOWNHOUSE', '303',
       'WAREHOUSE', 'Apartment: 18: 1-Br  Units',
       'Apartment: 41: 1-Br ,16: 1-Br ,32: 1-Br ,16: 1-B', 'Apartment',
       'UNKWN', 'townhse', 'Apartment: 6: 1-Br ,1: 2-Br  Units',
       'Apartment: 168: 2-Br  Units', 'Apartments - 8 or more units',
       'hi rise', 'Apartment ', '150700', 'Bi-Level', 'Split Level',
       '810', 'Bowling Alley', 'Duplex-Cottage', 'apartment', 'BILEVEL',
       'Apartment: 6: 3-Br  Units', 'OBY', 'HI RISE', 'DUPLEX', 'hi-rise',
       'Apartment: 8: 1-Br  Units', 'townhouse',
       'Apartment: 138: 1-Br ,12: 2-Br  Units',
       'Apartment: 3: 1-Br ,1: 2-Br  Units',
       'Apartment: 18: 1-Br ,6: 2-Br  Units',
       'Apartment: 8: 1-Br ,6: 1-Br ,2: 2-Br  Units', 'Apartment  - Mix',
       "63,500 for '09. UNF.", 'Warehouse', 'Apartment: 22: 1-Br  Units',
       nan, 'Apartment: 16: 1-Br  Units',
       'Apartment: 11: 1-Br ,1: 1-Br ,10: 2-Br  Units', 'RANCH',
       'HIGH RISE', 'Apartment: 4: 2-Br  Units',
       'Apartment: 4: 1-Br  Units', 'Apartment: 12: 2-Br  Units',
       'TRILEVEL', 'Apartment: 12: 1-Br ,14: 2-Br  Units',
       'Apartment: 7: 1-Br ,1: 2-Br  Units',
       'Apartment: 3: 2-Br ,15: 1-Br  Units', 'Mixed Styles',
       'Apartment: 12: 1-Br ,12: 1-Br ,12: 2-Br  Units',
       'Apartment: 4: 1-Br ,14: 2-Br  Units', 'Apartment-Mix',
       'Apartment: 2: 2-Br  Units', 'Apartment: 3: 1-Br ,2: 2-Br  Units',
       'Svc Station wo Conv Store',
       'Apartment: 18: 1-Br ,48: 2-Br  Units',
       'Apartment: 4: 1-Br ,1: 2-Br  Units', 'DUPLEX/OTHER',
       'Apartment: 3: 1-Br ,7: 2-Br ,6: 3-Br  Units', '6242010',
       'Apartment: 2: 1-Br ,4: 2-Br  Units',
       'Apartment: 2: 1-Br ,2: 2-Br  Units',
       'Apartment: 4: 1-Br ,8: 2-Br  Units', 'BI/TRI',
       'Apartment: 13: 2-Br  Units', 'HIRISE',
       'Apartment: 4: 3-Br  Units', 'Garden Style',
       'Apartment: 3: 2-Br ,1: 2-Br  Units',
       'Apartment: 6: 1-Br ,6: 2-Br ,1: 4-Br  Units', 'MIXED ',
       'Apartment: 5: 1-Br ,6: 3-Br  Units',
       'Apartment: 24: 3-Br ,5: 1-Br ,2: 2-Br  Units',
       'Apartment: 6: 2-Br  Units', 'COLONIAL',
       'Apartment: 6: 1-Br ,6: 2-Br  Units', 'Apartment: 5: 2-Br  Units',
       'Hi-Rise', 'Apartment: 10: 1-Br ,4: 2-Br  Units',
       'Apartment: 1: 1-Br ,3: 2-Br ,2: 3-Br  Units',
       'Apartment: 4: 1-Br ,2: 2-Br  Units', 'MOTEL STYLE', 'Supper Club',
       'Duplex', 'Apartment: 90: Efficency  Units',
       'Discount Department Store', 'Apartment: 16: 2-Br  Units',
       'Apartment: 5: 1-Br  Units', 'Garden Style ',
       'Apartment: 8: 1-Br ,1: 3-Br  Units',
       'Apartment: 2: 2-Br ,2: 3-Br  Units', 'Apartment: 20: 2-Br  Units',
       'Apartment: 8: 2-Br ,8: 2-Br  Units', 'Mobile Home Parks',
       'ROW HOUSE', 'Apartment: 20: 1-Br  Units',
       'Apartment: 16: 2-Br ,2: 3-Br  Units',
       'Apartment: 2: 1-Br ,2: 2-Br ,1: 2-Br ,1: 3-Br  U',
       'Apartment: 4: 1-Br ,12: 2-Br  Units',
       'Apartment: 2: 1-Br ,1: 2-Br ,1: 3-Br  Units',
       'Apartment: 6: 1-Br ,2: 2-Br  Units',
       'Apartment: 4: 1-Br ,4: 2-Br  Units', 'Apartment: 2: 1-Br  Units',
       'Apartment: 1: 1-Br ,3: 2-Br  Units', 'APARMENT', 'APARTMENMT',
       'Apartment: 14: 2-Br  Units', 'Apartment: 8: 1-Br ,1: 2-Br  Units',
       'Apartment: 3: 1-Br ,6: 2-Br  Units', 'SPLIT LEVEL',
       'Apartment: 12: 1-Br ,12: 1-Br ,8: 2-Br ,20: 2-Br',
       'Apartment: 2: 1-Br ,3: 1-Br ,6: 1-Br ,18: 2-Br ,',
       'Apartment: 7: 1-Br ,7: 1-Br ,7: 1-Br ,7: 1-Br ,1',
       'Apartment: 1: 2-Br ,1: 2-Br  Units',
       'Apartment: 3: 2-Br ,1: 3-Br  Units', 'Hi Rise',
       'Apartment: 17: 1-Br ,11: 2-Br  Units',
       'Apartment: 3: 2-Br ,1: 1-Br  Units',
       'Apartment: 7: 2-Br ,1: 1-Br  Units', 'Apartment: 3: 1-Br  Units',
       'Apartment: 9: 3-Br  Units',
       'Apartment: 1: 1-Br ,1: 2-Br ,1: 3-Br  Units',
       'Apartment: 1: 2-Br ,2: 3-Br ,1: 1-Br  Units',
       'Apartment: 185: 1-Br ,1: 2-Br  Units', ' ',
       'Apartment: 20: 1-Br ,42: 1-Br ,13: 2-Br ,2: 3-Br',
       'Apartment: 12: 2-Br ,12: 2-Br ,12: 2-Br  Units',
       'Apartment: 36: 1-Br ,6: 2-Br ,24: 2-Br ,24: 2-Br',
       'Apartment: 6: 2-Br ,102: 2-Br  Units', 'MIXED',
       'Apartment: 2: 1-Br ,3: 2-Br  Units',
       'Svc Station w Conv and Restaurant',
       'Apartment: 5: 2-Br ,5: 3-Br  Units',
       'Apartment: 12: 1-Br ,8: 2-Br  Units',
       'Apartment: 28: 1-Br ,1: 2-Br  Units',
       'Apartment: 2: 2-Br ,4: 1-Br  Units', 'Hotel Limited Service',
       'Apartment: 6: 2-Br ,4: 3-Br  Units',
       'Apartment: 3: 1-Br ,9: 2-Br  Units', 'OLD STYLE DUPLEX',
       'Apartment: 13: 3-Br  Units', 'Apartment: 2: 2-Br ,1: 3-Br  Units',
       'Apartment: 2: 2-Br ,1: 2-Br ,1: 2-Br  Units',
       'Apartment: 32: 1-Br ,4: 2-Br  Units',
       'Apartment: 4: 2-Br ,4: 2-Br  Units',
       'Apartment: 36: 1-Br ,3: 2-Br ,3: 2-Br  Units',
       'Apartment: 8: 2-Br ,39: 2-Br  Units',
       'Apartment: 1: 1-Br ,1: 2-Br  Units',
       'Apartment: 14: 2-Br ,7: 3-Br  Units',
       'Super Regional Shopping Center',
       'Apartment: 1: 2-Br ,1: 3-Br ,1: 1-Br ,3: 2-Br  U',
       'Apartment: 27: 1-Br ,3: 2-Br  Units',
       'Apartment: 2: 2-Br ,2: 2-Br  Units', 'Hotel Select Service',
       'OTHER', 'Apartment: 1: 2-Br ,3: 1-Br  Units',
       'Apartment: 1: 1-Br ,4: 2-Br  Units',
       'Apartment: 32: 1-Br ,32: 2-Br ,32: 2-Br ,13: 3-B',
       'Apartment: 26: 1-Br  Units', 'Apartment: 2: 1-Br ,6: 2-Br  Units',
       'Apartment: 10: 2-Br  Units', 'Apartment: 2: 1-Br ,7: 3-Br  Units',
       'Apartment: 1: 1-Br ,1: 2-Br ,1: 2-Br ,1: 2-Br  U',
       'Apartment: 19: 1-Br ,2: 2-Br  Units',
       'Apartment: 18: 1-Br ,4: 2-Br  Units',
       'Apartment: 24: 1-Br ,8: 2-Br  Units',
       'Apartment: 4: 1-Br ,9: 1-Br ,36: 2-Br ,21: 3-Br ',
       'Apartment: 3: 1-Br ,1: 2-Br ,1: 2-Br  Units',
       'Apartment: 9: 1-Br ,63: 2-Br  Units',
       'Apartment: 35: 1-Br ,2: 2-Br  Units', '1',
       'Apartment: 7: 2-Br  Units',
       'Apartment: 3: 1-Br ,3: 2-Br ,1: 3-Br  Units',
       'Apartment: 3: 1-Br ,1: 3-Br  Units',
       'Apartment: 16: 2-Br ,16: 3-Br ,42: 3-Br  Units',
       'Apartment: 4: 1-Br ,3: 1-Br ,1: 2-Br ,2: 2-Br  U',
       'Apartment: 2: 1-Br ,4: 2-Br ,1: 3-Br  Units',
       'Apartment: 8: 1-Br ,8: 2-Br  Units',
       'Apartment: 38: 1-Br ,3: 1-Br ,10: 2-Br ,7: 2-Br ',
       'Apartment: 1: 1-Br ,12: 2-Br  Units',
       'Apartment: 11: 2-Br ,1: 3-Br  Units', '`APARTMENT',
       'Apartment: 1: 2-Br ,1: 1-Br ,1: 1-Br ,1: 3-Br  U',
       'Apartment: 1: 1-Br ,1: 1-Br ,2: 2-Br ,1: 2-Br  U',
       'Apartment: 2: 1-Br ,1: 2-Br  Units',
       'Apartment: 1: 1-Br ,2: 2-Br  Units',
       'Apartment: 2: 1-Br ,24: 2-Br ,8: 3-Br  Units',
       'Apartment: 6: 1-Br ,24: 2-Br ,7: 3-Br ,6: 3-Br ,',
       'Apartment: 9: 2-Br  Units', 'Apartment: 3: 2-Br  Units',
       'Apartment: 1: 2-Br ,3: 2-Br  Units',
       'Apartment: 3: 1-Br ,1: 4-Br  Units',
       'Apartment: 2: 2-Br ,1: 2-Br ,1: 1-Br  Units',
       'Apartment: 1: 2-Br ,1: 2-Br ,1: 3-Br ,1: 3-Br  U',
       'Apartment- Mix', 'Town House', 'BI-Tri',
       'Apartment: 3: 1-Br ,3: 2-Br  Units',
       'Apartment: 6: 1-Br ,4: 2-Br  Units',
       'Apartment: 18: 2-Br ,1: 3-Br  Units',
       'Apartment: 2: 2-Br ,2: 1-Br  Units',
       'Apartment: 1: 1-Br ,1: 1-Br ,1: 2-Br ,1: 2-Br  U',
       'Apartment: 1: 2-Br ,1: 1-Br ,1: 1-Br ,1: 2-Br ,1',
       'Apartment: 1: 3-Br ,1: 3-Br ,1: 3-Br ,1: 3-Br ,1',
       'Apartment: 24: 1-Br ,12: 2-Br  Units',
       'Apartment: 5: 1-Br ,6: 2-Br  Units',
       'Apartment: 6: 1-Br ,7: 2-Br  Units',
       'Apartment: 64: 1-Br ,4: 1-Br ,8: 3-Br ,62: 1-Br ',
       'Apartment: 1: 2-Br ,8: 3-Br  Units',
       'Apartment: 16: 2-Br ,2: 2-Br ,1: 2-Br ,8: 2-Br ,',
       'Apartment: 3: 1-Br ,10: 1-Br  Units',
       'Apartment: 5: 1-Br ,1: 2-Br  Units',
       'Apartment: 8: 2-Br ,4: 3-Br ,8: 2-Br ,4: 3-Br  U',
       'Apartment: 2: 1-Br ,1: 4-Br ,1: 3-Br  Units',
       'Apartment: 1: 1-Br ,1: 1-Br ,1: 1-Br ,1: 1-Br  U',
       'Apartment: 1: 2-Br ,1: 2-Br ,1: 2-Br ,1: 2-Br  U',
       'Apartment: 5: 2-Br ,4: 3-Br  Units',
       'Apartment: 6: 3-Br ,1: 2-Br  Units',
       'Apartment: 8: 2-Br ,4: 2-Br  Units', 'Apartment: 32: 3-Br  Units',
       'Apartment: 4: 1-Br ,5: 2-Br  Units',
       'Apartment: 5: 1-Br ,1: 2-Br ,2: 2-Br  Units',
       'Apartment: 15: 1-Br ,13: 2-Br ,47: 1-Br  Units',
       'Apartment: 4: 2-Br ,2: 3-Br  Units',
       'Apartment: 1: 2-Br ,2: 1-Br  Units',
       'Apartment: 2: 2-Br ,1: 1-Br ,1: 3-Br  Units',
       'Apartment: 49: 1-Br ,1: 2-Br  Units',
       'Svc Station w Conv, Carwash, and Restaurant', 'Condo Townhouse',
       'Condo Ranch', 'Low Rise 1-3 Stories',
       'AP2 (Conventional Apt with 7-11 Units)',
       'AP3 (Conventional Apt with 12-20 Units)', 'Condo BI/TRI Level',
       'Subsidized Apartments', 'Hotel - Limited Service',
       'Store Bldg - Multi Story (Store & Apt, Store & Ofc',
       'Townhouse Apartment', 'AP4 (Conv Apt with 21 or more Units)',
       'Multiple Residential Bldgs', 'Condo Duplex',
       'Mid RIse 4-12 Stories', 'R/M (Res. Multiple) or Rooming House',
       'High Rise > 12 Stories', 'Contemporary', 'Residence O/S 2sty+',
       'Res O/S A & 1/2', 'Res O/S 1 Story',
       'Svc Station w Conv, Retail, Restaurant and Carwash',
       'Res O/S 2sty +', 'Store Building - Multiple Tenants, 1 story',
       'Mid Rise 4-12 Stories',
       'R/M (Res. Multiple) or Rooming House - commercial'], dtype=object)

In [308]:
# Mapping dictionary based on common categories
style_mapping = {
    'Commercial Exempt': 'Commercial',
    'Mansions With Commercial Usage': 'Mixed-Use',
    'Service Building': 'Commercial',
    'Store Bldg - Multi Story (Store & Apt, Store & O': 'Commercial',
    'Strip Shopping Center': 'Commercial',
    'Svs Station w Conv Store': 'Commercial',
    'Tavern': 'Commercial',
    # ... (repeat for all entries)
    'Apartment: 48: 1-Br Units': 'Residential',
    'Duplex Old/Style': 'Residential',
    'Office Building - Multi Story ( Ofc & Apt)': 'Mixed-Use',
    'Apartment: 32: 2-Br Units': 'Residential',
    'Medical Clinic': 'Special Purpose',
    'Church': 'Special Purpose',
    # Continue for all unique values...
}

# Map the df['style'] values to new groups
df['style_group'] = df['Style'].map(style_mapping)

# For entries that were not in the mapping, you can assign 'Other'
# Instead of using inplace=True, use assignment
df['style_group'] = df['style_group'].fillna('Other')

In [309]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60926 entries, 0 to 60925
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PropType     60913 non-null  object
 1   Address      60920 non-null  object
 2   District     60922 non-null  float64
 3   Style        60850 non-null  object
 4   Stories      60926 non-null  float64
 5   Year_Built   60926 non-null  float64
 6   Units        60924 non-null  float64
 7   Bdrms        60926 non-null  float64
 8   Fbath        60926 non-null  float64
 9   Hbath        60926 non-null  float64
 10  Lotsize      60923 non-null  object
 11  Sale_date    60924 non-null  object
 12  Sale_price   60914 non-null  object
 13  Year         60926 non-null  int64
 14  style_group  60926 non-null  object
dtypes: float64(7), int64(1), object(7)
memory usage: 7.0+ MB

In [310]:
# Drop the 'style' column
df.drop(columns=['Style'], inplace=True)

In [311]:
# Fill NaN values with 'Unknown' (or another appropriate value)
df['PropType'] = df['PropType'].fillna('Unknown')
from sklearn.preprocessing import LabelEncoder

# Initialize label encoder
label_encoder = LabelEncoder()

# Fit and transform the PropType column
df['PropType'] = label_encoder.fit_transform(df['PropType'])

In [312]:
df.isna().sum()

PropType        0
Address         6
District        4
Stories         0
Year_Built      0
Units           2
Bdrms           0
Fbath           0
Hbath           0
Lotsize         3
Sale_date       2
Sale_price     12
Year            0
style_group     0
dtype: int64

In [313]:
# Filling missing values in each column based on their data type
df['PropType'] = df['PropType'].fillna('Unknown')
df['District'] = df['District'].fillna(df['District'].median())
df['Units'] = df['Units'].fillna(df['Units'].median())
df['Lotsize'] = df['style_group'].fillna('Unknown')


# Check the info again to confirm all missing values are handled
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60926 entries, 0 to 60925
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PropType     60926 non-null  int64
 1   Address      60920 non-null  object
 2   District     60926 non-null  float64
 3   Stories      60926 non-null  float64
 4   Year_Built   60926 non-null  float64
 5   Units        60926 non-null  float64
 6   Bdrms        60926 non-null  float64
 7   Fbath        60926 non-null  float64
 8   Hbath        60926 non-null  float64
 9   Lotsize      60926 non-null  object
 10  Sale_date    60924 non-null  object
 11  Sale_price   60914 non-null  object
 12  Year         60926 non-null  int64
 13  style_group  60926 non-null  object
dtypes: float64(7), int64(2), object(5)
memory usage: 6.5+ MB

In [314]:
# Step 1: Remove non-numeric characters (like commas or dollar signs) from Sale_price
df['Sale_price'] = df['Sale_price'].replace('[\$,]', '', regex=True)
# Step 3: Fill any remaining NaN values after conversion with 0 or any default value
#df['Sale_price'].fillna(0, inplace=True)
df['Sale_price'] = df['Sale_price'].fillna(0)
# Step 4: Convert the Sale_price column to integer
df['Sale_price'] = df['Sale_price'].astype(int)

df.isna().sum()

PropType       0
Address        6
District       0
Stories        0
Year_Built     0
Units          0
Bdrms          0
Fbath          0
Hbath          0
Lotsize        0
Sale_date      2
Sale_price     0
Year           0
style_group    0
dtype: int64

### ***Data Type Conversion***

In [319]:
df['Sale_date'] = pd.to_datetime(df['Sale_date'], errors='coerce')

### **Feature Engineering**

In [320]:
# Create house_age feature
df['house_age'] = 2024 - df['Year_Built']

# Extract month and year from Sale_date
df['Sale_month'] = df['Sale_date'].dt.month
df['Sale_year'] = df['Sale_date'].dt.year

In [321]:
df.isna().sum()

PropType           0
Address            6
District           0
Stories            0
Year_Built         0
Units              0
Bdrms              0
Fbath              0
Hbath              0
Lotsize            0
Sale_date      26220
Sale_price         0
Year               0
style_group        0
house_age          0
Sale_month     26220
Sale_year      26220
dtype: int64

### **Data Encoding (for categorical columns)**

In [ ]:
df_cleaned[categorical_cols].head()

### **One-Hot Encoding for PropType and Style:**

In [ ]:
# One-hot encode 'PropType' and 'Style' in the existing dataframe
df_cleaned = pd.get_dummies(df_cleaned, columns=['PropType', 'Style'], drop_first=True)

### **Drop the Address column:**

In [ ]:
# Drop 'Address' column as it doesn't provide meaningful information for modeling
df_cleaned.drop(columns=['Address'], inplace=True)

### **Convert Lotsize to Numeric:**

In [ ]:
# Convert 'Lotsize' to numeric, any errors in conversion will be coerced to NaN
df_cleaned['Lotsize'] = pd.to_numeric(df_cleaned['Lotsize'], errors='coerce')

### **Convert Sale_date to Date Features:**

In [ ]:
df_cleaned.head()

In [ ]:
# Convert 'Sale_date' to datetime format and extract year, month, and day
df_cleaned['Sale_date'] = pd.to_datetime(df_cleaned['Sale_date'], errors='coerce')
df_cleaned['Sale_year'] = df_cleaned['Sale_date'].dt.year
df_cleaned['Sale_month'] = df_cleaned['Sale_date'].dt.month
df_cleaned['Sale_day'] = df_cleaned['Sale_date'].dt.day

# Drop the original 'Sale_date' column as we've extracted its useful components
df_cleaned.drop(columns=['Sale_date'], inplace=True)

### **Feature Scaling**

In [ ]:
from sklearn.model_selection import train_test_split

# Split into train and test sets (80% train, 20% test)
X = df_cleaned.drop(columns=['Sale_price'])  # Features
y = df_cleaned['Sale_price']                 # Target

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)